# main executable
main

# Files meant as trial output, etc.
try.*

# vi/Emacs backup
*~
*.swp

# Emacs TAGS
TAGS

# gcc debug
*.dSYM

# Mac stuff
.DS_Store

# https://raw.githubusercontent.com/github/gitignore/master/C%2B%2B.gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python stuff
__pycache__/

# output folder
output/run*
